h1{
  text-align: center;

}

body div{
  margin-top: 10px;
}

#textForm input{
  margin-top: 10px;
}

#radioBtnSpeed div{
  margin: 10px;
}

#checkboxSettings div{
    margin: 10px;
}

#typerApp{
    margin-top: 10px;
    margin-bottom: 10px;
}

#errorMessage{
  margin: 0;
  display: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

#waitLabel{
  text-align: center;
}

#speedLabel{
  text-align: center;
}
